.container{
    width: 100%;
    padding: 1rem;
    border: 5px solid rgb(206, 194, 194);
}
.name{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
@media (max-width:768px){
    .container{
        width: 100%;
        height: 25vh;
        border: 5px solid rgb(206, 194, 194);
    }
}
@media (max-width:992px){
    .container{
        width: 100%;
        height: 25vh;
        border: 5px solid rgb(206, 194, 194);
    }
}
